---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
$base-font-size:   24px;
$base-font-weight: 500;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     26.4px;

$text-color:       #111; //all other text
$background-color: #Fdfdfd; //background
$brand-color:      #FDBD00; //highlights

$grey-color:       #2DA54F; //dates and general
$grey-color-light:  #2DA54F;
$grey-color-light2: #2DA54F; // my name and top swithc
$grey-color-dark:  #3E82F7; //borderline colors switch

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
